#menu1
{
    height: 20%;
    width: 100%;
    text-align: center;
}
#tytul
{
color: green;
}
#zdania1
{
    width: 100%;
    text-align: center;
    margin-top: 1cm;
    margin-bottom: 1cm;
}
#k1
{
    width: 50%;
    float: left;
}
#k2
{
    float: left;
    width: 50%;
}
#linki
{
    clear: both;
    width: 100%;
}
:hover#link1 
{
    background-color: blue;
}
:hover#link2 
{
    background-color: blue;
}
:hover#link3 
{
    background-color: blue;
}