.title {
    text-align: center;
    margin-bottom: 1cm;
}
.title {
    text-align: center;
}
.data-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse; 
}

.data-table th,
.data-table td {
  border: 1px solid black;   
  padding: 8px;
}

.data-table th {
  background: black;         
  color: white;              
}
.lista{
  border: 1px solid black;
}