
#menu1
{
    height: 20%;
    width: 100%;
    text-align: center;
}
#tytul
{
color: rgb(0, 255, 0);
}
#zdania1
{
    width: 100%;
    text-align: center;
    margin-top: 1cm;
    margin-bottom: 1cm;
}
#k1
{
    width: 50%;
    float: left;
}
#k2
{
    float: left;
    width: 50%;
}
#linki
{
    clear: both;
    width: 100%;
}
:hover#link1 
{
    background-color: blue;
}
:hover#link2 
{
    background-color: blue;
}
:hover#link3 
{
    background-color: blue;
}
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1cm;
  }
  .gallery img {
    width: 200px;
    height: 200px;
    border: 2px solid #333;
  }
  

/*formularz*/
  form {
    background-color: #e0f0ff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
  }
  .btn-orange {
    background-color: orange;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  h1
  {
    text-align: center;
  }
  #email, #name
  {
    background-color: rgb(126, 255, 244);
  }

